.youtube-player-div {
  margin: 5px 0; 
  position: relative;
  width: 640px;
  height: 390px;
  z-index: 1;
}

#question-screen-youtube {
  /* visibility: hidden; */
  position: absolute;
  top: 10px;
  width: calc(100% - 40px);
  height: calc(100% - 83px); 
  overflow-y: auto;
  z-index: 2; 
  background: #dcc7aa; 
  padding: 20px;
}

#question-screen-youtube > form > h3 {
  margin-top: 0;
}

#youtube-player {
  position: absolute;
}
