.App {
  /* text-align: center; */
  margin: 0 auto;
  padding: 0 40px 40px;
  max-width: 900px;
}

.signup-login-container {
  background-color: greenyellow;
  margin: 20px 0;
}

.content {
  padding-bottom: 60px; 
}


.width100 {
  width: 100px;
  text-align: center;
}

/* Images - start */
.img-small {
  width: 250px;
  height: auto;
}
/* Images - end */

/* Forms - start*/
label {
  display: block;
  margin: 5px 0;
}

input {
  width: 90%;
  margin: 5px 0;
}

.radio-button {
  width: auto;
}

textarea {
  width: 90%;
  margin: 5px 0;
}

.explanation {
  background-color: rgb(253, 204, 114);
  padding: 5px;
}
/* Forms - end */


/* Buttons - start */
button {
  margin: 5px 0;
}

.buttonOne {
  background-color: rgb(56, 56, 56);
  color: white;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
  margin: 10px 0;
  cursor: pointer;
} 
 
.buttonRed {
  margin-right: 5px;
  padding: 0 5px;
  background-color: rgb(236, 113, 113);
}
/* Buttons - end */


/* Buttons - start */
button {
  display: block;
}
/* Buttons - end */

footer {
  position: absolute;
  bottom: 0; 
  margin: 0 auto;
  height: 60px;
  display: block; 
}