.App {
  /* text-align: center; */
  margin: 0 auto;
  padding: 0 40px 40px;
  max-width: 900px;
}

.signup-login-container {
  background-color: greenyellow;
  margin: 20px 0;
}

.content {
  padding-bottom: 60px; 
}

.buttonOne {
  background-color: rgb(56, 56, 56);
  color: white;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
  margin: 10px 0;
}

/* Images - start */
.img-small {
  width: 250px;
  height: auto;
}
/* Images - end */

/* Forms - start*/
label {
  display: block;
  margin: 5px 0;
}

input {
  width: 100%;
  margin: 5px 0;
}

textarea {
  width: 100%;
  margin: 5px 0;
}

button {
  margin: 5px 0;
}
/* Forms - end */

footer {
  position: absolute;
  bottom: 0; 
  margin: 0 auto;
  height: 60px;
  display: block; 
}