body {
  margin: 0;
  padding: 0;
  padding-left: 17px;
  width: calc(100vw - 34px);
  /* Above needed to keep margins equal with or without scroll bar */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; 
  background-color: #EDEDE3;
}

* {
  /* box-sizing: border-box; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
